

# Ignore dependencies directory
node_modules/

# Ignore local environment variables
.env

# Ignore the database file
urls.db

# Ignore local artifacts
npm-debug.log*

# Ignore any editor specific files
.vscode/
.idea/
